<h1>Dashboard</h1>

<%= shout_form_for(TextShout) do |form| %>
  <%= form.text_field :body, placeholder: 'Shout it out!', require: true %>
<% end %>

<%= shout_form_for(PhotoShout) do |form| %>
  <%= form.file_field :image, require: true %>
<% end %>

<%= render @shouts %>
